<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head")%>
    <title>Jpgram</title>
</head>
<body>
    <%- include("partials/nav")%>
<div 
style="height: 100vh;"
class="container-fluid h-100 d-flex flex-column gy-3 justify-content-center align-items-center">
    
<div class="animate__animated animate__fadeIn container-md h-100 mt-5 d-flex justify-content-center align-items-center">
    

    <form class="d-flex rounded border bg-light shadow flex-column p-2 m-2 justify-content-center" action="/upload" method="post" enctype="multipart/form-data">
    
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" id="title" name="title"/>
            </div>
    
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
              </div>
    
            <div class="mb-3">
                <label for="image" class="form-label"></label>
                <input class="form-control" type="file" id="image" name="image"/>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
</div>

</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>